*{
    padding: 0;
    margin: 0;
}
.mains{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.logo{
    height: 100%;
    width: 70%;
    background-color: black;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.logo img{
    height: 70%;
    width: 60%;
}
.login{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: black;
}
.login h1{
    font-size: 64px;
    font-weight: 700px;
    font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: white;
    margin-top: 60px;
}
.login h2{
    font-size: 31px;
    font-weight: 700px;
    font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: white;
}
.login p{
    font-size: 13px;
    color: rgb(83, 100, 113);
}
.login button{
    height: 45px;
    width: 52%;
    /* border: none; */
    border-radius: 20px;
}
.login a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.login h3{
    margin-left: 50px;
    font-size: 15px;
}
.b{
    background-color: rgb(29, 155, 240);
    color: white;
}
.login h4{
    margin-top: 80px;
    font-family:TwitterChirpExtendedHeavy, Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif ;
    color: white;
}
.c{
    background-color: black;
    border: solid 1px rgb(83, 100, 113);
}
.c a{
    color:rgb(29, 155, 240) ; 
}
.login p a{
    color: rgb(29, 155, 240);
    font-size: 12px;
}